{% extends 'base.html' %}
{% load json_filter %}

{% block headerbutton %}
  {% if user %}
    <a class="btn btn-primary btn-lg" href="/blog/" role="button">Create Blog</a>
    <a class="btn btn-primary btn-lg" href="/login/blog_logout" role="button">Logout {{ user.username }}</a>
  {% else %}
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
    </p>
  {% endif %}
{% endblock %}

{# connection to react based off of: https://hackernoon.com/reconciling-djangos-mvc-templates-with-react-components-3aa986cf510a #}
{% block content %}
  <div id="react">
  </div>
  <script>
    window.props = {{props|json}};
    window.react_mount = document.getElementById('react');
  </script>
  <script src="/static/{{component}}"></script>
{% endblock %}
