{% extends 'base.html' %}

{% block headerbutton %}
  {% if user %}
    <a class="btn btn-primary btn-lg" href="/blog/" role="button">Create Blog</a>
    <a class="btn btn-primary btn-lg" href="/login/blog_logout" role="button">Logout {{ user.username }}</a>
  {% else %}
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
    </p>
  {% endif %}
{% endblock %}

{% block content %}
  {% if authors %}
  <div class="container text-left">
      <select id='authors'>
        <option value="">Select author</option>
        {% for author in authors %}
        <option value="{{ author|lower }}">{{ author }}</option>
        {% endfor %}
      </select>
  </div>
  {% endif %}
  {% if blogs %}
      {% for blog in blogs %}
        <div class="container text-left {{ blog.blog_author.username|lower }} blog">
          <h3>{{ blog.blog_title }}</h3>
          <h4>Author: {{ blog.blog_author.username }}</h4>
          <hr class="my-3">
          <p>{{ blog.blog_text }}</p>
          <hr class="my-1">
          <p>{{ blog.pub_date }}</p>
          <br>
          {% if user.username == blog.blog_author.username %}
          <p class="lead">
          <a class="btn btn-primary btn-lg" href="/blog/edit/{{blog.id}}" role="button">Edit</a>
          <a class="btn btn-primary btn-lg" href="/blog/delete/{{blog.id}}" role="button">Delete</a>
          </p>
          {% endif %}
        </div>
      {% endfor %}
  {% else %}
    <div class="container text-left">
      <p>No blogs are available.</p>
    </div>
  {% endif %}
{% endblock %}
